@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  background-color: #111111;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .profile-image {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 70px;
  top: 25px;
  left: 30px;
}

.sidenav .cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
  width: 120px;
  height: 1.2em;
  white-space: nowrap;
  position: absolute;
  left: 110px;
  top: 55px;
}

.sidenav .links {
  margin-top: 50px;
}

.sidenav .links a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --rad: .3rem;
  --dur: .5s;
  --color-dark: #ececec;
  --color-light: rgb(48, 48, 48);
  --color-brand: #131313;
  --height: 2.5rem;
  --btn-width: 3.5rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.sidenav-icon {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 20px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  position: relative;
  margin-bottom: 25px;
  padding: 1.2em 2em;
  width: 100%;
  color: #fff;
}

header .logo {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 6%;
  margin-top: 0.2em;
}

header .username {
  display: none;
}

header .profile-image {
  display: none;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 11px;
  margin-left: 50px;
}

header li a {
  padding: 0 2em;
  opacity: 0.8;
}

header .search-form {
  position: relative;
  width: 17rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}

header .search,
header .search-button {
  height: var(--height);
  border: 0;
  font-size: 1rem;
}

header .search {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all var(--dur) var(--bez);
  transition: all var(--dur) var(--bez);
  -webkit-transition-property: width, border-radius;
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
  color: #ececec;
}

header .search-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
  color: var(--color-dark);
}

header .search:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

header .search:not(:placeholder-shown) + .search-button {
  display: block;
}

.top {
  width: 100%;
}

@media screen and (max-width: 700px) {
  header li a {
    display: none;
  }
  header .logo {
    font-size: 1.4em;
    margin-right: 4%;
  }
  header {
    padding: 1.2em 1em;
  }
}

.role {
  width: 100%;
  margin: auto;
  -webkit-box-shadow: 0 0 10px 5px #202020;
          box-shadow: 0 0 10px 5px #202020;
  background-color: #141414;
}

.role .wrapper {
  margin: auto;
  margin-top: 10px;
  position: relative;
  width: 100%;
  min-height: 250px;
  background-color: #141414;
  color: #f1f1f1;
}

.role .wrapper .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.role .wrapper .nav img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px 0 10px 10px;
}

.role .wrapper .nav .postusername {
  margin: 30px 0 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 120px;
  height: 1.2em;
  white-space: nowrap;
}

.role .wrapper .nav .follow {
  background-color: #141414;
  color: #ffffff;
  border-radius: 25px;
  border: solid 0.13rem #ffffff;
  width: 100px;
  height: 40px;
  outline: white;
  margin-left: auto;
  margin-top: 20px;
  font-weight: 700;
  margin-right: 5%;
}

.role .wrapper .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.role .wrapper .left .image {
  width: 40%;
  height: auto;
  border-radius: 10px;
  margin: 10px;
}

.role .wrapper .left .mintext {
  margin-left: 10px;
  margin-top: -10px;
  width: 50%;
}

.role .wrapper .left .mintext h1 {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 1.2em;
  white-space: nowrap;
}

.role .wrapper .left .mintext h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 1.2em;
  white-space: nowrap;
}

.role .wrapper .left .nav1 {
  display: none;
}

.role .wrapper .right {
  color: #ffffff;
  width: 100%;
}

.role .wrapper .right .text {
  margin-top: -10px;
}

.role .wrapper .right .text .more {
  display: none;
}

.role .wrapper .right .text .dots {
  color: #002fff;
  cursor: pointer;
}

.role .wrapper .right .text h1 {
  display: none;
}

.role .wrapper .right .text h3 {
  display: none;
}

.role .wrapper .right .text .desc {
  padding-bottom: 10px;
}

.role .wrapper .right .text .desc p {
  margin-left: 30px;
  margin-right: 10px;
}

.role .wrapper .right .like_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -50px;
  margin-bottom: 10px;
}

.role .wrapper .right .like_box .download {
  background-color: #141414;
  border: none;
  margin-right: 20px;
  color: white;
  outline: none;
  font-size: 22px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: -10px;
  margin-bottom: 5px;
}

.role .wrapper .right .like_box .like {
  background-color: #141414;
  color: red;
  border: none;
  margin-right: 20px;
  margin-top: 2px;
  outline: none;
  font-size: 25px;
}

.role .wrapper .right .like_box .like_num {
  margin-left: auto;
  margin-top: 20px;
  margin-right: 10px;
}

.role .wrapper .right .d-box {
  width: 100%;
  text-align: right;
}

.role .wrapper .right .d-box .download {
  display: none;
}

.role .wrapper .right .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  width: 95%;
}

.role .wrapper .right .player .sec {
  margin-top: 20px;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.role .wrapper .right .player .sec:hover {
  opacity: 1;
}

.role .wrapper .right .player .sec::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #929292;
  cursor: pointer;
}

.role .wrapper .right .player .sec::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #929292;
  cursor: pointer;
}

.role .wrapper .right .player .btn {
  background-color: #141414;
  border: none;
  color: white;
  padding: 12px 16px;
  outline: none;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.role .wrapper .right .player audio {
  display: none;
}

.role .wrapper .right .player .dur {
  margin-left: 10px;
}

.role .wrapper .right .player .cur {
  margin-right: 10px;
}

@media screen and (max-width: 370px) {
  .role .wrapper .left .image {
    width: 150px;
  }
  .role .wrapper .left .mintext {
    margin-left: 5px;
  }
  .role .wrapper .left .mintext h1 {
    font-size: 25px;
  }
  .role .wrapper .left .mintext h3 {
    font-size: 15px;
  }
  .role .wrapper .right .like_box {
    margin-top: -15px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=Trend_mobile.css.map */